body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgb(197, 192, 192);  
}

header{
    background-image: url(/img/bg-3.jpg);
    background-size:cover;
    background-position:top ;
    height: 500px;
}

header nav{
    text-align: right;
    padding: 30px;
    margin-bottom: 200px;
}

header h1{
    color: white;
    text-align: center;
    font-size: 48px;
}

header p{
    color: white;
    background-color:black;
    opacity: 0.7;
    border-bottom:  solid white;
    padding: 16px;
    width: 440px;
    margin: 0 auto;
}


nav button{
    padding: 8px;
    border: solid 2px white;
    background-color: gray;
}

button a{
  text-decoration: none;
  color: white; 

}

div{
    background-color: white;
    height: 210px;
    padding: 8px 16px;
    margin:  100px;
}

div h2{
    background-color:rgb(228, 220, 220);
    padding: 10px;
}

div a{
    background-color: rgb(163, 163, 163);
    padding: 12px;
    color: blue;
}

div p{
    margin-bottom: 30px;
}

footer{
    margin-top: 0;
    background-color: rgb(102, 101, 101);
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 0;

    p{
        display: inline-block;
    }
   
    
}

