.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

.agenda__lista{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
}

.agenda__item{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
}

.agenda__informacoes{
    width: 50%;
}   

.agenda__atracao{
    width: 50%;
}

.agenda__botao{
    display: flex;
    justify-content: center;
}




@media (min-width: 720px) {

    .menu {
        column-gap: 75px;
    }

    .agenda__lista{
        justify-content: end;
    }
}

@media (min-width: 1440px) {

    .menu {
        column-gap: 105px;
        flex-wrap: nowrap;
    }

    .menu__item:nth-child(1) {
        order: 1;
    }

    .menu__item:nth-child(2) {
        order: 3;
    }

    .menu__item:nth-child(3) {
        order: 4;
    }

    .menu__item:nth-child(4) {
        order: 5;
    }

    .menu__item:nth-child(5) {
        order: 2;
    }

    .agenda__informacoes{
        width: 100%;
    }   
    
    .agenda__atracao{
        width: 100%;
    }

}