body{
    box-sizing: border-box;
    width: 80%;
    margin: 20px auto;
    font-family: sans-serif;
}

h1{
    margin:auto;
    background-color: #9290C3 ;
    color: #070F2B;
    
    text-align: center;
    padding: 5px;
    
}

h2{
    padding: 5px;
    background-color: #9290C3 ;
    color: #070F2B;
    border-bottom-style:solid;
    border-bottom-color:#1B1A55;

}

h4{
    font-weight: bold;
}

#profile{
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    background-color:  #c5c4f7;
}

ul,ol{
    padding-left: 0;
    list-style-position: outside;
}

ol{
    margin-left:15px;
}

ul li{
    list-style: none;
}

ol li{
    list-style-type: disc;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button {
    background: none; 
    border: none; 
    padding: 0; 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    cursor: pointer; 
}


#buttons{
    text-align: right;
}

.buttons__item{
    display: inline-block;
    list-style: none;
    padding: 0;
    
    a{
        background-color: gray;
        color: white;
        display: block;
        padding: 16px; 
    }

    a:hover{
        text-decoration: none;
    }
    
}


.buttons__item:hover{
    background-color: rgb(71, 71, 71);
    cursor: pointer;
}
